<%= form_for @user do |form| %>

  <div class='text-field'>
    <%= form.label :username %>
    <br>
    <%= form.text_field :username %>
  </div>

  <div class='text-field'>
    <%= form.label :email %>
    <br>
    <%= form.text_field :email, :type => 'email' %>
  </div>

  <div class='password-field'>
    <%= form.label :password %>
    <br>
    <%= form.password_field :password %>
  </div>
  <br>

  <div class='text-field'>
    <%= form.label :picture %>
    <br>
    <%= form.text_field :picture %>
  </div>
  <br>
  <div class='text-field'>
    <%= form.label :background %>
    <br>
    <%= form.text_field :background %>
  </div>
  <br>

  <div class='submit-field'>
    <%= form.submit %>
  </div>
<% end %>
