<%= link_to users_path do %>
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star"></span> Back to all users
  </button>
<% end %>

<br><br>

<% if notice %>
<div class="alert alert-success">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="user">
  <div class="user_control">
    <%= link_to edit_user_path(@user) do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to @user, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>

  <%= link_to @user do %>
    <img class="user_picture"
      <% if @user.picture.nil? %>
      src="http://i.imgur.com/4kW0zeD.png"
      <% else %>
        src="<%= user.picture %>"
      <% end %>
      >
  <% end %>

  <p class="name"><%= @user.username %></p>
  <p class="email"><%= @user.email %></p>
</div>
