<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
      <ul>
      <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="post_entry">
    <%= f.label "Your post" %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn"%>
  </div>
<% end %>
