<%= link_to posts_path do %>
  <button class="btn btn-default">Back</button>
<% end %>

<% if notice %>
	<div class="well">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<br><br>


 <div class="post">
  <div class="post-heading">
    <p>
    <%= @post.user.email %>
    <span style="float:right; font-size:1.2em">
      <%= link_to like_post_path(@post) do %>
        <span class="glyphicon glyphicon-heart"></span>
        <span class="likes-number"><%= @post.post_likes.length %></span>
      <% end %>

      <% if @post.user == current_user %>
        <%= link_to edit_post_path(@post) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    </span>
    </p>
  </div>

  <div class="post-body">
    <p><%= @post.content %></p>
  <span style="float: right">
    <%= @post.created_at.strftime("%Y.%m.%d %H:%M") %>
  </span>
  </div>
</div>
